* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

nav,
footer {
    padding: 1% 0;
    background-color: #aaa;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}



header {
    padding: 12% 0;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}



section:nth-child(even) {
    background-color: #ddd;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

fieldset {
    margin: 10px 0;
}

fieldset button {
    font-size: 12px;
}

.login-sect, 
.signup-sect,
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fieldset-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#all-products-header {
    padding: 0;
    margin-top: 80px;
}

#all-products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#all-products-sidebar {
    min-width: 15%;
}

#all-products-sidebar ul {
    list-style: none;
    padding: auto;
}

#all-products div {
    max-width: 25%;
    border: solid black 2px;
}

#all-products-main {
    display: flex;
    flex-direction: row;
}

.compare-main {
    display: flex;
    flex-direction: row;
    margin: 0 10% 20px;
}

.compare-product {
    border: solid black 2px;
    margin-right: 10px;
}

.not-featured {
    text-decoration: line-through;
    opacity: .3;
}

li {
    text-align: left;
}

button {
    margin: 16px 0;
    font-size: 20px;
}

i {
    font-size: 12px;
}